<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPPAV.Properties.Settings.BD3K3G10_2022ConnectionString"
            connectionString="Data Source=200.69.137.167,11333;Initial Catalog=BD3K3G10_2022;User ID=BD3K3G10_2022;Password=CLV10_30072"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>